<script>
    import Listing from "../../components/Listing.svelte";
</script>

<div class="mx-auto max-w-2xl lg:max-w-5xl  mt-16 sm:mt-32 sm:px-10 px-8">
    <div class="max-w-2xl ">
        <h1
            class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
        >
            Listings I'm apart of.
        </h1>
        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            All of my long-form thoughts on investing, leadership,
            real estate, and more, collected in chronological
            order.
        </p>
    </div>
    <div class="mt-16 sm:mt-20">
        <ul
            role="list"
            class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
        >
            {#each Array(5) as _, i}
                <Listing/>
            {/each}

        </ul>
    </div>
</div>
