<script>
    import Listing from "../components/Listing.svelte";
    import Article from "../components/Article.svelte";
</script>

<div class="flex h-full flex-col">
        <div class="relative z-10">
            <div
                class="pointer-events-none relative z-50 flex flex-col"
                style="height:var(--header-height);margin-bottom:var(--header-mb)"
            >
                <div
                    class="order-last mt-[calc(theme(spacing.16)-theme(spacing.3))]"
                />
                <div
                    class="sm:px-8 top-0 order-last -mb-3 pt-3"
                    style="position:var(--header-position)"
                >
                    <div class="mx-auto max-w-7xl lg:px-8">
                        <div class="relative px-4 sm:px-8 lg:px-12">
                            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                                <div
                                    class="top-[var(--avatar-top,theme(spacing.3))] w-full"
                                    style="position:var(--header-inner-position)"
                                >
                                    <div class="relative">
                                        <div
                                            class="absolute left-0 top-3 origin-left transition-opacity h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10"
                                            style="opacity:var(--avatar-border-opacity, 0);transform:var(--avatar-border-transform)"
                                        />
                                        <a
                                            aria-label="Home"
                                            class="block h-16 w-16 origin-left pointer-events-auto"
                                            style="transform:var(--avatar-image-transform)"
                                            href="/"
                                            ><img
                                                alt=""
                                                sizes="4rem"
                                                src="headshot.png"
                                                width="512"
                                                height="512"
                                                decoding="async"
                                                data-nimg="1"
                                                class="rounded-full bg-zinc-100 object-cover object-top dark:bg-zinc-800 h-16 w-16"
                                                style="color:transparent"
                                            /></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:var(--content-offset)" />
            <div>
                <div class="sm:px-8 mt-9">
                    <div class="mx-auto max-w-7xl lg:px-8">
                        <div class="relative px-4 sm:px-8 lg:px-12">
                            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                                <div class="max-w-2xl">
                                    <h1
                                        class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
                                    >
                                        Real Estate Agent, Investor, and Entrepreneur.
                                    </h1>
                                    <p
                                        class="mt-6 text-base text-zinc-600 dark:text-zinc-400"
                                    >
                                        I'm Jacob, a real estate agent and
                                        investor based in Southern California. I'm
                                        a proud member of <a href="https://www.joinreal.com" class=" underline text-logo-blue"><b>Real</b></a>, 
                                        striving to offer great
                                        service, to work hard, and to make a difference.
                                        I'm here to help you build your wealth while 
                                        partnering with the most collaborative agents in the industry.
                                    </p>
                                    <div class="mt-6 flex gap-6">
                                        <a
                                            class="group -m-1 p-1"
                                            aria-label="Follow on Instagram"
                                            href="https://www.instagram.com/_jacobluke/"
                                            ><svg
                                                viewBox="0 0 24 24"
                                                aria-hidden="true"
                                                class="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
                                                ><path
                                                    d="M12 3c-2.444 0-2.75.01-3.71.054-.959.044-1.613.196-2.185.418A4.412 4.412 0 0 0 4.51 4.511c-.5.5-.809 1.002-1.039 1.594-.222.572-.374 1.226-.418 2.184C3.01 9.25 3 9.556 3 12s.01 2.75.054 3.71c.044.959.196 1.613.418 2.185.23.592.538 1.094 1.039 1.595.5.5 1.002.808 1.594 1.038.572.222 1.226.374 2.184.418C9.25 20.99 9.556 21 12 21s2.75-.01 3.71-.054c.959-.044 1.613-.196 2.185-.419a4.412 4.412 0 0 0 1.595-1.038c.5-.5.808-1.002 1.038-1.594.222-.572.374-1.226.418-2.184.044-.96.054-1.267.054-3.711s-.01-2.75-.054-3.71c-.044-.959-.196-1.613-.419-2.185A4.412 4.412 0 0 0 19.49 4.51c-.5-.5-1.002-.809-1.594-1.039-.572-.222-1.226-.374-2.184-.418C14.75 3.01 14.444 3 12 3Zm0 1.622c2.403 0 2.688.009 3.637.052.877.04 1.354.187 1.67.31.421.163.72.358 1.036.673.315.315.51.615.673 1.035.123.317.27.794.31 1.671.043.95.052 1.234.052 3.637s-.009 2.688-.052 3.637c-.04.877-.187 1.354-.31 1.67-.163.421-.358.72-.673 1.036a2.79 2.79 0 0 1-1.035.673c-.317.123-.794.27-1.671.31-.95.043-1.234.052-3.637.052s-2.688-.009-3.637-.052c-.877-.04-1.354-.187-1.67-.31a2.789 2.789 0 0 1-1.036-.673 2.79 2.79 0 0 1-.673-1.035c-.123-.317-.27-.794-.31-1.671-.043-.95-.052-1.234-.052-3.637s.009-2.688.052-3.637c.04-.877.187-1.354.31-1.67.163-.421.358-.72.673-1.036.315-.315.615-.51 1.035-.673.317-.123.794-.27 1.671-.31.95-.043 1.234-.052 3.637-.052Z"
                                                /><path
                                                    d="M12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6Zm0-7.622a4.622 4.622 0 1 0 0 9.244 4.622 4.622 0 0 0 0-9.244Zm5.884-.182a1.08 1.08 0 1 1-2.16 0 1.08 1.08 0 0 1 2.16 0Z"
                                                /></svg
                                            >
                                        </a>
                                        <a
                                            class="group -m-1 p-1"
                                            aria-label="Follow on LinkedIn"
                                            href="https://linkedin.com"
                                            ><svg
                                                viewBox="0 0 24 24"
                                                class="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
                                                ><path
                                                    d="M18.335 18.339H15.67v-4.177c0-.996-.02-2.278-1.39-2.278-1.389 0-1.601 1.084-1.601 2.205v4.25h-2.666V9.75h2.56v1.17h.035c.358-.674 1.228-1.387 2.528-1.387 2.7 0 3.2 1.778 3.2 4.091v4.715zM7.003 8.575a1.546 1.546 0 01-1.548-1.549 1.548 1.548 0 111.547 1.549zm1.336 9.764H5.666V9.75H8.34v8.589zM19.67 3H4.329C3.593 3 3 3.58 3 4.297v15.406C3 20.42 3.594 21 4.328 21h15.338C20.4 21 21 20.42 21 19.703V4.297C21 3.58 20.4 3 19.666 3h.003z"
                                                /></svg
                                            >
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-16 sm:mt-20">
                    <div
                        class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8"
                    >
                        <div
                            class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2 shadow-lg"
                        >
                            <img
                                alt=""
                                sizes="(min-width: 640px) 18rem, 11rem"
                                src="azusa.jpg"
                                width="3744"
                                height="5616"
                                decoding="async"
                                data-nimg="1"
                                class="absolute inset-0 h-full w-full object-cover"
                                loading="lazy"
                                style="color:transparent"
                            />
                        </div>
                        <div
                            class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl -rotate-2 shadow-lg"
                        >
                            <img
                                alt=""
                                sizes="(min-width: 640px) 18rem, 11rem"
                                src="beach.jpg"
                                width="3936"
                                height="2624"
                                decoding="async"
                                data-nimg="1"
                                class="absolute inset-0 h-full w-full object-cover"
                                loading="lazy"
                                style="color:transparent"
                            />
                        </div>
                        <div
                            class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2 shadow-lg"
                        >
                            <img
                                alt=""
                                sizes="(min-width: 640px) 18rem, 11rem"
                                src="culdesac.jpg"
                                width="5760"
                                height="3840"
                                decoding="async"
                                data-nimg="1"
                                class="absolute inset-0 h-full w-full object-cover"
                                loading="lazy"
                                style="color:transparent"
                            />
                        </div>
                        <div
                            class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl rotate-2 shadow-lg"
                        >
                            <img
                                alt=""
                                sizes="(min-width: 640px) 18rem, 11rem"
                                src="luxury.jpg"
                                width="2400"
                                height="3000"
                                decoding="async"
                                data-nimg="1"
                                class="absolute inset-0 h-full w-full object-cover"
                                loading="lazy"
                                style="color:transparent"
                            />
                        </div>
                        <div
                            class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl -rotate-2 shadow-lg"
                        >
                            <img
                                alt=""
                                sizes="(min-width: 640px) 18rem, 11rem"
                                src="brick.jpg"
                                width="4240"
                                height="2384"
                                decoding="async"
                                data-nimg="1"
                                class="absolute inset-0 h-full w-full object-cover"
                                loading="lazy"
                                style="color:transparent"
                            />
                        </div>
                    </div>
                </div>
                <div class="sm:px-8 mt-24 md:mt-28">
                    <div class="mx-auto max-w-7xl lg:px-8">
                        <div class="relative px-4 sm:px-8 lg:px-12">
                            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                                <div
                                    class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
                                >
                                    <div class="flex flex-col gap-16">
                                        <Article/>
                                    </div>
                                    <!-- Newsletter -->
                                    <div class="space-y-10 lg:pl-16 xl:pl-24">
                                        <form
                                            action="/thank-you"
                                            class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40"
                                        >
                                            <h2
                                                class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100"
                                            >
                                                <svg
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke-width="1.5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    aria-hidden="true"
                                                    class="h-6 w-6 flex-none"
                                                    ><path
                                                        d="M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
                                                        class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"
                                                    /><path
                                                        d="m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6"
                                                        class="stroke-zinc-400 dark:stroke-zinc-500"
                                                    /></svg
                                                ><span class="ml-3"
                                                    >Stay up to date</span
                                                >
                                            </h2>
                                            <p
                                                class="mt-2 text-sm text-zinc-600 dark:text-zinc-400"
                                            >
                                                Get notified when I publish
                                                something new, and unsubscribe
                                                at any time.
                                            </p>
                                            <div class="mt-6 flex">
                                                <input
                                                    type="email"
                                                    placeholder="Email address"
                                                    aria-label="Email address"
                                                    required=""
                                                    class="min-w-0 flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-teal-500 focus:outline-none focus:ring-4 focus:ring-teal-500/10 dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-teal-400 dark:focus:ring-teal-400/10 sm:text-sm"
                                                /><button
                                                    class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 ml-4 flex-none"
                                                    type="submit">Join</button
                                                >
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</div>
