<div class="navbar bg-zinc-800 p-6 z-20 justify-center align-middle h-[10vh]">
    <div class="navbar-start">
        <a href="/"><img src="logo.png" alt="" class=" h-[5vh]"/></a>
    </div>
    <div class="navbar-center">
        <nav class="pointer-events-auto hidden md:block">
            <ul
                class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
            >
                <li>
                    <a
                        class="relative block px-3 py-2 transition hover:text-logo-blue dark:hover:text-teal-400"
                        href="/">Home</a
                    >
                </li>
                <li>
                    <a
                        class="relative block px-3 py-2 transition hover:text-logo-blue dark:hover:text-teal-400"
                        href="/about">About</a
                    >
                </li>
                <li>
                    <a
                        class="relative block px-3 py-2 transition hover:text-logo-blue dark:hover:text-teal-400"
                        href="/articles">Articles</a
                    >
                </li>
                <li>
                    <a
                        class="relative block px-3 py-2 transition hover:text-logo-blue dark:hover:text-teal-400"
                        href="/listings">Listings</a
                    >
                </li>
                <li>
                    <a
                        class="relative block px-3 py-2 transition hover:text-logo-blue dark:hover:text-teal-400"
                        href="/testimonials">Testimonials</a
                    >
                </li>
            </ul>
        </nav>
    </div>
    <div class="navbar-end">
        <div class="dropdown sm:hidden dropdown-bottom dropdown-end">
            <!-- svelte-ignore a11y-no-noninteractive-tabindex -->
            <!-- svelte-ignore a11y-label-has-associated-control -->
            <label
                tabindex="0"
                class="border rounded-full border-white text-white 
            py-2 px-5 cursor-pointer hover:text-logo-blue">Menu</label
            >
            <!-- svelte-ignore a11y-no-noninteractive-tabindex -->
            <ul
                tabindex="0"
                class="dropdown-content menu p-4 shadow bg-base-100 rounded-box w-[50vw]
            text-lg gap-2"
            >
                <li><a href="/" class="hover:text-logo-blue">Home</a></li>
                <li><a href="/about" class="hover:text-logo-blue">About</a></li>
                <li><a href="/listings" class="hover:text-logo-blue">Listings</a></li>
                <li><a href="/testimonials" class="hover:text-logo-blue">Testimonials</a></li>
                <li><a href="/articles" class="hover:text-logo-blue">Articles</a></li>
            </ul>
        </div>
    </div>
</div>
