<div class="sm:px-8 mt-16 sm:mt-32">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="max-w-2xl">
                    <h1
                        class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
                    >
                        Writing on market trends, home buying tips, and the
                        real estate market.
                    </h1>
                    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                        All of my long-form thoughts on investing, leadership,
                        real estate, and more, collected in chronological
                        order.
                    </p>
                </div>
                <div class="mt-16 sm:mt-20">
                    <div
                        class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
                    >
                        <div class="flex max-w-3xl flex-col space-y-16">
                            <article
                                class="md:grid md:grid-cols-4 md:items-baseline"
                            >
                                <div
                                    class="md:col-span-3 group relative flex flex-col items-start"
                                >
                                    <h2
                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
                                    >
                                        <div
                                            class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
                                        />
                                        <a
                                            href="/articles/crafting-a-design-system-for-a-multiplanetary-future"
                                            ><span
                                                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                                            /><span class="relative z-10"
                                                >Crafting a design system for a
                                                multiplanetary future</span
                                            ></a
                                        >
                                    </h2>
                                    <time
                                        class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                        datetime="2022-09-05"
                                        ><span
                                            class="absolute inset-y-0 left-0 flex items-center"
                                            aria-hidden="true"
                                            ><span
                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                                            /></span
                                        >September 5, 2022</time
                                    >
                                    <p
                                        class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400"
                                    >
                                        Most companies try to stay ahead of the
                                        curve when it comes to visual design,
                                        but for Planetaria we needed to create a
                                        brand that would still inspire us 100
                                        years from now when humanity has spread
                                        across our entire solar system.
                                    </p>
                                    <div
                                        aria-hidden="true"
                                        class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
                                    >
                                        Read article<svg
                                            viewBox="0 0 16 16"
                                            fill="none"
                                            aria-hidden="true"
                                            class="ml-1 h-4 w-4 stroke-current"
                                            ><path
                                                d="M6.75 5.75 9.25 8l-2.5 2.25"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            /></svg
                                        >
                                    </div>
                                </div>
                                <time
                                    class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
                                    datetime="2022-09-05"
                                    >September 5, 2022</time
                                >
                            </article>
                            <article
                                class="md:grid md:grid-cols-4 md:items-baseline"
                            >
                                <div
                                    class="md:col-span-3 group relative flex flex-col items-start"
                                >
                                    <h2
                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
                                    >
                                        <div
                                            class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
                                        />
                                        <a
                                            href="/articles/introducing-animaginary"
                                            ><span
                                                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                                            /><span class="relative z-10"
                                                >Introducing Animaginary: High
                                                performance web animations</span
                                            ></a
                                        >
                                    </h2>
                                    <time
                                        class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                        datetime="2022-09-02"
                                        ><span
                                            class="absolute inset-y-0 left-0 flex items-center"
                                            aria-hidden="true"
                                            ><span
                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                                            /></span
                                        >September 2, 2022</time
                                    >
                                    <p
                                        class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400"
                                    >
                                        When you’re building a website for a
                                        company as ambitious as Planetaria, you
                                        need to make an impression. I wanted
                                        people to visit our website and see
                                        animations that looked more realistic
                                        than reality itself.
                                    </p>
                                    <div
                                        aria-hidden="true"
                                        class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
                                    >
                                        Read article<svg
                                            viewBox="0 0 16 16"
                                            fill="none"
                                            aria-hidden="true"
                                            class="ml-1 h-4 w-4 stroke-current"
                                            ><path
                                                d="M6.75 5.75 9.25 8l-2.5 2.25"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            /></svg
                                        >
                                    </div>
                                </div>
                                <time
                                    class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
                                    datetime="2022-09-02"
                                    >September 2, 2022</time
                                >
                            </article>
                            <article
                                class="md:grid md:grid-cols-4 md:items-baseline"
                            >
                                <div
                                    class="md:col-span-3 group relative flex flex-col items-start"
                                >
                                    <h2
                                        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
                                    >
                                        <div
                                            class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
                                        />
                                        <a
                                            href="/articles/rewriting-the-cosmos-kernel-in-rust"
                                            ><span
                                                class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                                            /><span class="relative z-10"
                                                >Rewriting the cosmOS kernel in
                                                Rust</span
                                            ></a
                                        >
                                    </h2>
                                    <time
                                        class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                                        datetime="2022-07-14"
                                        ><span
                                            class="absolute inset-y-0 left-0 flex items-center"
                                            aria-hidden="true"
                                            ><span
                                                class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                                            /></span
                                        >July 14, 2022</time
                                    >
                                    <p
                                        class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400"
                                    >
                                        When we released the first version of
                                        cosmOS last year, it was written in Go.
                                        Go is a wonderful programming language,
                                        but it’s been a while since I’ve seen an
                                        article on the front page of Hacker News
                                        about rewriting some important tool in
                                        Go and I see articles on there about
                                        rewriting things in Rust every single
                                        week.
                                    </p>
                                    <div
                                        aria-hidden="true"
                                        class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
                                    >
                                        Read article<svg
                                            viewBox="0 0 16 16"
                                            fill="none"
                                            aria-hidden="true"
                                            class="ml-1 h-4 w-4 stroke-current"
                                            ><path
                                                d="M6.75 5.75 9.25 8l-2.5 2.25"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            /></svg
                                        >
                                    </div>
                                </div>
                                <time
                                    class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
                                    datetime="2022-07-14">July 14, 2022</time
                                >
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
